/*
Author: Jason Westmark
Date Created 4/6/2025
Purpose: Make it easier for me to focus on regression testing.
*/

body {
	display: flex;
	flex-direction: column; /* Stack children vertically */
	align-items: center;
	margin: 0;
}

main {
	display: flex; /* side-by-side layout for left/right */
	width: 80%; /* Or whatever fits your layout */
	margin-top: 20px;
	justify-content: center;
	gap: 60px;
}

#left, #right {
	border: 2px solid black;
	padding: 15px;
}

#left {
	padding: 10px;
	width: 300px;
}

#right {
	padding: 10px;
	width:300px;
	display: flex;
	flex-direction: column;
}

#fileInput {
	padding-top: 20px;
	padding-bottom: 20px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* optional spacing */
}

#clientName {
}

#tabName {
	margin-top: -3px;
	margin-bottom: 20px;
}

#labelsAndText {
	display: flex;
}

#textFields {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#labels {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 120px;
}

#inputRow {
	display: flex;
	align-items: center;
	gap: 10px;
}

#top {
	margin-top: 20px;
	text-align: center;
}

p {
	border: 2px solid black;
	padding: 15px;
}

#beginButton {
	margin-top: 15px;
}