body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh;
    margin: 0;
    animation: moveBackground 8s linear infinite;
}

main {
	display:flex;
    justify-content: center;
    width: 500px; /* Prevents it from overflowing */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Optional: Adjust padding to make content more readable */
    display: block; /* Ensure it's a block-level container */
}

@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

#clabel {
	width: 500px; /* Fixed width */
    vertical-align: top;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
}

#comments {
    width: 500px; /* Fixed width */
    height: 200px; /* Fixed height */
    vertical-align: top;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
}

#fail, #pass, #download, #na {
    width: 80px;
    height: 30px;
}

#steps {
	display:flex;
    width: 100%; /* Ensures it takes up the full width of the screen */
    word-wrap: break-word; /* Ensures long words wrap correctly */
	padding:20px;
	justify-content: center;
    align-items: center;
}

#fileContent {
    display: block; /* Ensures it's a block-level element */
    white-space: normal; /* Resets white-space behavior */
    word-wrap: break-word; /* Breaks long words and wraps them */
    word-break: break-word; /* Forces breaking of long words */
    width: 100%;
    font-family: monospace; /* Keeps monospace font */
}

#funnyButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-left: 30px;
}

.middle {
	vertical-align: top;
    padding-bottom: 30px;  
	justify-content: center;
    align-items: center;
}

.bmiddle {
    justify-content: center;
    display: flex;
    gap: 70px;
    width: 100%;
    padding-bottom: 30px;
}

.mbottom {
    justify-content: center;
    display: flex;
    gap: 70px;
    width: 100%;
}

.bottom {
    justify-content: center;
    display: flex;
    gap: 50px;
    width: 100%;
}
